html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    width: 100%
}

html{
	background: linear-gradient(60deg, #6aa8c5, #2e3c8d, #42226b, #3585cf);
	background-size: 800% 800%;
	animation: gradient 50s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


 section{
    min-height:100%;
    padding:0;
    position: relative;
    margin-left:auto;
    margin-right:auto;

    }

nav{
position:fixed;
top:40%;
left:-6%;
transition: 0.8s;
text-align: right;
}

nav:hover{
left:2%;
}

nav li{
font-weight: bold;
}

#sec1{
width:80%;
    padding-top: 10%;
}


#sec2{
width:80%;
padding-top:10%;
}

#sec3{
width:80%;
padding-top:10%;
    margin-left:auto;
    margin-right:auto;
}

p, a, li, th, td, h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}


#logo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
}

#logo img{
     width: 100%;
     opacity: 0.8;
 }

#shortener {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #b9b9b941;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

#shortener:hover > #shortener-txt {
 width: 400px;
 padding: 0 6px;
}

#shortener:hover > #shortener-btn {
 background: b9b9b941;
 color: white;
}

#shortener-btn {
 color: #e84118;
 float: right;
 width: 130px;
 height: 40px;
 border-radius: 20px;
 border-style: solid;
 background: #b9b9b941;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.8s;
 color: white;
 font-size: 1vw;
 cursor: pointer;
}

#shortener-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.6s;
 line-height: 35px;
 width: 0px;
 font-weight: bold;
}

#shortener-txt::placeholder{
color: white;
}

#overview{
    background: #b9b9b941;
    height: 500px;
    border-radius: 40px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8)}

#about{
    background: #b9b9b941;
    height: 500px;
    border-radius: 40px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8)}

table {
    border-collapse: separate;
    border-spacing: 3;
    width: 100%;
    overflow-y:auto;
    min-height: 80%;
    border-radius: 40px;
}

th, td{
     text-align: left;
     padding: 8px;
     color: white;
}

th{
     font-weight: bold;
}

