html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    width: 100%
}

html{
	background: linear-gradient( #3585cf,#42226b,#2e3c8d,#6aa8c5);
	/*   background: linear-gradient(60deg, #6aa8c5, #2e3c8d, #42226b, #3585cf);
    animation: gradient 50s ease infinite;*/
	background-size: 800% 800%;
	scroll-behavior: smooth;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


 section{
    min-height:100%;
    padding:0;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

nav {
    position:fixed;
    left:-220px;
    transition: 0.8s;
    text-align:right;
    vertical-align: middle;
    opacity:0.8;
    background: #b9b9b920;
    width:150px;
    height:100%;
    padding: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
}

#arrow{
    position:fixed;
    left:0;
    top:45%;
    width:30px;
    transition:0.8s;
    opacity:0.4;

}

nav:hover{
    left:-110px;
    padding-right: 25px;
}


nav:hover > #arrow{
    opacity:0;
    left:75px;
}

nav a{
    font-size:1vw;
    font-weight: bold;
    text-decoration:none;
}

#minilogo{
    position:relative;
    left:15px;
    top:-25px;
    width:100px;
}

#sec1{
    width:80%;
    padding-top: 10%;
}


#sec2{
    padding-top:3.5%;
    width:80%;
    text-align:center;
}

#sec3{
    width:80%;
    padding-top:6%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

p, a, li, th, td, h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    color: #F2F2F2;
}

h1{
    font-weight:bold;
    text-decoration:underline;
}

#logo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 140px;
}

#logo img{
     width: 100%;
     opacity: 0.6;
}

#shortener {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b9b9b941;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    opacity: 0.8;
}

#shortener:hover > #shortener-txt {
    width: 350px;
    padding: 0 6px;
}

#shortener:hover > #shortener-btn {
    background: dark-grey;
    color: #F2F2F2;

}

#shortener-btn {
    float: right;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    background: #b9b9b941;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #F2F2F2;
    font-size: 1vw;
    cursor: pointer;
    opacity: 0.7;
    font-weight:bold;
    border-width:thin;
}

#shortener-btn:hover{
    background: black;
}

#shortener-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #F2F2F2;
    font-size: 16px;
    transition: 0.6s;
    line-height: 35px;
    width: 0px;
    font-weight: bold;
    opacity: 0.7;
}

#shortener-txt::placeholder{
    color: #F2F2F2;
}

#overview{
    background: #b9b9b941;
    height: 600px;
    max-height: 600px;
    border-radius: 40px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);

    }


#about{
    background: #b9b9b941;
    height: 600px;
    max-height: 600px;
    border-radius: 40px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8)}

#recents {
    text-align: left;
    border-collapse: separate;
    border-spacing: 3;
    border-radius: 40px;
    width: 100%;
      display:block;
      overflow-y:auto;
      overflow-x:hidden;
      max-width: 100%;
      table-layout:fixed;
      width: 100%;
      height:500px;


}



#copybtn, #delbtn{
    float: right;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border-style: solid;
    background: #b9b9b941;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-size: 1vw;
    cursor: pointer;
    opacity: 0.7;
    font-weight:bold;
    border-width:thin;
    transition: 0.5s;

}

#copybtn:hover, #delbtn:hover{
    background: black;
}

th, td{
     padding: 8px;
     color: white;
}

th{
     font-weight: bold;
}




