html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html{
	background: linear-gradient( #3585cf,#42226b,#2e3c8d,#6aa8c5);
	/*   background: linear-gradient(60deg, #6aa8c5, #2e3c8d, #42226b, #3585cf);
    animation: gradient 50s ease infinite;*/
	background-size: 800% 800%;
	scroll-behavior: smooth;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p, a, li, th, td, h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    color: #F2F2F2;
         font-size:1.2vw;

}

h1{
    font-weight:bold;
    text-decoration:underline;
}

th, td{
     padding: 8px;
     color: white;
}

th{
     font-weight: bold;
}

section{
    position:relative;
    padding-top: 5%;
    min-height:100%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    text-align:center;
}

nav {
    position:fixed;
    left:-220px;
    transition: 0.8s;
    text-align:right;
    vertical-align: middle;
    opacity:0.8;
    background: #b9b9b920;
    width:150px;
    height:100%;
    padding: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
}

nav:hover{
    left:-110px;
    padding-right: 25px;
}

nav:hover > #arrow{
    opacity:0;
    left:75px;
}

nav a{
    font-size:1vw;
    font-weight: bold;
    text-decoration:none;
}

#arrow{
    position:fixed;
    left:0;
    top:45%;
    width:2vw;
    transition:0.8s;
    opacity:0.4;
}

#minilogo{
    position:relative;
    left:15px;
    top:-25px;
    width:7vw;
}

#logo{
    position:absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}

#logo img{
     width: 100%;
     opacity: 0.6;
}

#shortener{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b9b9b941;
    height: 3vw;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    opacity: 0.8;
}

#shortener-btn{
    float: right;
    width: 10vw;
    height: 3vw;
    border-radius: 20px;
    border-style: solid;
    background: #b9b9b941;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #F2F2F2;
    font-size: 1vw;
    cursor: pointer;
    opacity: 0.7;
    font-weight:bold;
    border-width:thin;
}

#shortener-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: #F2F2F2;
    font-size: 1vw;
    transition: 0.6s;
    line-height: 2.5vw;
    width: 0;
    font-weight: bold;
    opacity: 0.7;
}

#shortener-txt::placeholder{
    color: #F2F2F2;
}

#shortener:hover > #shortener-txt{
    width: 25vw;
}

#shortener:hover > #shortener-btn{
    background: dark-grey;
    color: #F2F2F2;
}

#shortener-btn:hover{
    background: black;
}

#overview{
    background: #b9b9b941;
    height: 45vw;
    max-height: 45vw;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
}


#about{
    background: #b9b9b941;
    height: 45vw;
    max-height: 45vw;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8)
}

#recents{
    height: 40vw;
    max-height: 40vw;
    text-align: left;
    border-collapse: separate;
    border-spacing: 3;
    border-radius: 40px;
    display:block;
    overflow-y:scroll;
    table-layout:fixed;
}

#copybtn, #delbtn{
    float: right;
    width: 5vw;
    height: 2.5vw;
    border-radius: 20px;
    border-style: solid;
    background: #b9b9b941;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-size: 1vw;
    cursor: pointer;
    opacity: 0.7;
    font-weight:bold;
    border-width:thin;
    transition: 0.5s;
}

#copybtn:hover, #delbtn:hover{
    background: black;
}




